* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: rgb(169, 196, 247); */
  /* background-color: rgb(224, 255, 245); */
  /* background-color: #8FBC8F; */
  /* background-color: #2F4F4F; */
  background-color: var(--cor-bg-principal);
}

body {
  --cor-bg-principal: #295872;
  --cor-2: #357599;
  --cor-3: #4292bf;
  --cor-4: #67a8cd;
  --cor-5: #8dbeda;
  --cor-6: rgb(239, 253, 221);
}

.title-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--cor-4);
  font-size: 1.5rem;
  /* position: fixed;
  width: 100%; */
}

.header-title {
  padding-bottom: 0.5%;
  background-color: var(--cor-4);
}

.header-info {
  background-color: var(--cor-4);
  padding-bottom: 0.5%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.items {
  background-color: var(--cor-4);
  padding-left: 2%;
  font-size: 1.5rem;
}

.main-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 2px solid lightgray;
  border-radius: 10px;
  background-color: var(--cor-6);
  margin: 5px;
  padding: 6px;
}

.info-details {
  background-color: var(--cor-6);
  padding: 1%;
  font-size: 1.5rem;
}

.info-details-title {
  background-color: var(--cor-6);
  padding: 1%;
  font-size: 2rem;
}

.info {
  width: 50%;
}

main section .face-img {
  border-radius: 100%;
  height: 400px;
}
